<section class="container-fluid">
    <div class="row text-center">
        <h2 class="mt-2">Our Suggestions</h2>
    </div>
    <div class="row justify-content-center mt-2" id="top-tier-view"></div>
    <div class="row justify-content-center pt-3">
        <div class="col-5 text-center">
            <h3>About Us</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque maiores repellat facere debitis, 
            ipsa beatae ad expedita dolor impedit, quae ducimus numquam? Et dolore soluta provident eum a excepturi nam?</p>
        </div>
        <div class="col-5 text-center">
            <div class="w-75">
                <h4>ATX Builds</h4>
                <h6>Check out our great priced ATX builds!</h6>
                <button>Go!</button>
            </div>
        </div>
    </div>
</section>