<section class="">
    <section class="bg-top container-fluid p-4">
        <div class="row justify-content-center">
            <div class="bg-black w-25 text-center rounded-2">
                <h2 class="mt-2 text-light">Our Suggestions</h2>
            </div>
        </div>
        <div class="row justify-content-center mt-2 pt-3 pb-3" id="top-tier-view"></div>
        <div class="row pt-3 justify-content-center">
            <div class="col-3 text-center d-flex justify-content-center p-1 build-card">
                <div class="w-75 p-2 inside-build-card">
                    <h4>ATX Builds</h4>
                    <h6>Check out our great priced ATX builds!</h6>
                    <button>Go!</button>
                </div>
            </div>
            <div class="col-3 text-center ms-4 me-4 d-flex justify-content-center p-1 build-card">
                <div class="w-75 p-2 inside-build-card">
                    <h4>Micro ATX</h4>
                    <h6>Check out our great priced Micro ATX builds!</h6>
                    <button>Go!</button>
                </div>
            </div>
            <div class="col-3 text-center d-flex justify-content-center p-1 build-card">
                <div class="w-75 p-2 inside-build-card">
                    <h4>ITX</h4>
                    <h6>Check out our great priced ITX builds!</h6>
                    <button>Go!</button>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid">
        <div class="row justify-content-center pt-3">
            <div class="col-5 text-center">
                <h3>About Us</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque maiores repellat facere debitis, 
                ipsa beatae ad expedita dolor impedit, quae ducimus numquam? Et dolore soluta provident eum a excepturi nam?</p>
            </div>
            <div class="col-5 text-center">
                <h3>Contact us!</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque maiores repellat facere debitis, 
                ipsa beatae ad expedita dolor impedit, quae ducimus numquam? Et dolore soluta provident eum a excepturi nam?</p>
            </div>
        </div>
    </section>
</section>